*.iml
.gradle/
build/
app/build/
.idea/
.kotlin/
local.properties
keystore/
keystore.properties
dist/
*.jks
*.keystore
*.apk
*.zip
app/src/main/jniLibs/
app/src/main/cpp/node/
app/src/main/assets/npm/
app/.cxx/
